.inputFeild{
    width: 520px;
    height: 60px; 
    margin:0px;
    border:0px;
    padding:0px;
    border: 1px solid #afafaf;
    margin-left: 35px;
    margin-right: 39px;
    /* margin-top: 103px; */
    /* margin-top: 54px; */
}
.signupButton{
    width: 520px;
    height: 60px;
    background-color: #ff385c;
    border:none;
    border-radius: 8px;
    font-family: 'Manrope', sans-serif;
    margin-left: 35px;
    margin-right: 39px;
    margin-top: 31px;
}
.Signup-form-container{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}
#Modal-signup{
    height: 50px;
    width: 182px;
}
#errorSingUp{
    color:red;
    list-style-type: none;
}