 /* .form{
    height: 910px;
    width: 910px;
}
input{
    width: 889px;
    height: 58px;
}

.cancelEdit{
    width: 613px;
    height: 40px;
    border-radius: 11px;
    padding-top: 9px;

    border: 10px 4px 5px 5px black;
    background-color: rgb(244, 6, 165);
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
    margin: 2px;
    padding: 2px;
    font-family: sans-serif;
}
.editButton{
    border: 10px 4px 5px 5px black;
    background-color: rgb(244, 6, 165);
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
    margin: 2px;
    padding: 2px;
    font-family: sans-serif;
    width: 613px;
        height: 40px;
        border-radius: 11px;
        padding-top: 9px;
}  */
/* .editForm{
    padding-left: 7px;
    padding-right: 7px;
} */

.create-review-text{
    font-size :23px;
    justify-content: center;
    flex-direction: column;
    margin: 3px;
    padding: 3px;
    font-family: 'Manrope', sans-serif;
    border-radius: 45;
   
    height: 649px;
}
#reviewInput {

        
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* margin: 3px; */
    padding: 5px;
    font-family: sans-serif;
    /* width: 466px; */
    /* height: 21px; */
    border-radius: 11px;
    margin-left: 73px;
    margin-right: 41px;
    margin-bottom: 25px;
  
    font-family: 'Manrope', sans-serif;
  }
  .editButton{
    border: 10px 4px 5px 5px black;
    background-color: #ff385c;
    color: black;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
    /* margin: 2px; */
    padding: 5px;
    font-family: sans-serif;
    width: 614px;
    height: 47px;
    border-radius: 11px;
    margin-left: 73px;
    padding-top: 9px;
    margin-top: 8px;
    margin-right: 41px;
    font-family: 'Manrope', sans-serif;
  }
  .cancelEdit{
    border: 10px 4px 5px 5px black;
    background-color: #ff385c;
    color: black;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
    /* margin: 2px; */
    padding: 5px;
    font-family: sans-serif;
    width: 614px;
    height: 47px;
    border-radius: 11px;
    margin-left: 73px;
    padding-top: 9px;
    margin-top: 8px;
    margin-right: 41px;
    font-family: 'Manrope', sans-serif;
  }
  .errorsReview{
    margin-bottom: 14px;
    color:black;
    font-family: 'Manrope', sans-serif;
    margin-left: 50px;
    font-size: 16px;
  }