.details-booking{
    color:black;
    font-family: 'Manrope', sans-serif;
}
.color{
    color:black;
    margin-bottom: 13px;
    font-family: 'Manrope', sans-serif;
}
.upcoming{
    border: none;
    color: solid black;
    font-weight: bold;
    /* color: #ff385c; */
    margin-right: 61px;
    background-color: white;
    font-size: 23px;
    font-family: 'Manrope', sans-serif;
     
}
/* .upcoming:hover{
    border-bottom: 2px solid #ff385c;
  } */
  .upcoming:active{
    border-bottom: 2px solid #ff385c;
    outline: none;
  }
.main{
    margin: 3%;
    font-family: 'Manrope', sans-serif;
}
.buttons{
    margin-bottom: 1%;
    font-family: 'Manrope', sans-serif;
}
.perbooking{
    margin: 1%;
    font-family: 'Manrope', sans-serif;
}
.deletebooking{
    border: 1px solid #afafaf;
    background-color: #ff385c;
    color: white;
    
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
  

  
    height: 28px;
    border-radius: 4px;

    margin-right: 41px;
    font-family: 'Manrope', sans-serif;
}
.previousbookings{
    color: black;
    margin-bottom: 13px;
    font-family: 'Manrope', sans-serif;
}
.detailsOfbookings{
    color:black;
    margin-bottom: 13px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}
