

.spotimages{
    height: 269px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 270px;
    border-radius: 29px;
    flex-direction: row;
    justify-content: space-around;
}
.allSpotsDetails{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    margin-left: 87px;
    margin-right: 139px;
    justify-content: space-between;
}
/* header{
    justify-content: center;
    padding: 9px 976px;
} */

.allSpots{
    margin:1rem;
    height: 393px;
    width: 458px;
    
}
.details{
    margin: 14px;
    font-size: 14px;
    color:black;
    text-decoration: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align:left;
    height: 65px;
    padding-left: 107px;
    border-top: 1px solid black;
    font-size: 16px;
    align-items: center;
 }
 .footer-code{
    justify-content: center;
    padding-top: 27px;
    color: black;
 }

