
.new-form{
  margin-left: 111px;
 
    margin-top: 93px;
    margin-bottom: 108px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    
    height: 441px;
    display: flex;
  
    width: 1033px;
    font-size :23px;
    justify-content: center;
    flex-direction: column;
    margin: 3px;
    padding: 3px;
    font-family:  sans-serif;
    border-radius: 45;
   
    height: 649px;
  
    border: none;
   
}
#inputText {

        
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* margin: 3px; */
  padding: 5px;
  font-family: sans-serif;
  width: 466px;
  height: 21px;
  border-radius: 11px;
  margin-left: 73px;
  font-family: 'Manrope', sans-serif;
  border: 1px solid #afafaf;
}

#preview-label {
  font-size: 13px;
  color: black;
}

#preview-input {
  margin-left: 10px;
}
.spotButton{
  border: 1px solid #afafaf;
    background-color: #ff385c;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
    /* margin: 2px; */
    padding: 5px;
    font-family: sans-serif;
    width: 466px;
    height: 40px;
    border-radius: 11px;
    margin-left: 73px;
    padding-top: 9px;
    margin-top: 8px;
    font-family: 'Manrope', sans-serif;
    /* width: 613px;
        height: 40px;
        border-radius: 11px;
        padding-top: 9px;
        margin-left: 3px;
        margin-bottom: 11px; */
       
}

.cancelButton{
  border: 1px solid #afafaf;
  background-color: #ff385c;
  color:white;
  display: flex;
  font-weight: bold;
  justify-content: center;
  flex-direction: row;
  /* margin: 2px; */
  padding: 5px;
  font-family: sans-serif;
  width: 466px;
  height: 40px;
  border-radius: 11px;
  margin-left: 73px;
  padding-top: 9px;
  margin-top: 8px;
  font-family: 'Manrope', sans-serif;
}

body {
    font-family: sans-serif;
    color: white;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    
        background-image: linear-gradient(#d02478,#c5257e,#b82383,#871f90,#751f95,#591fa1);
  }
  
  .right {
    right: 0;
    background-color: white;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Manrope', sans-serif;
  }
  #host-text{
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 185px;
    font-family: 'Manrope', sans-serif;
  }
  .logoname{
    height: 98px;
    width: 177px;
    margin-right: 1439px;
    margin-left: 89px;
  }


  .create-spot-form{
    margin-left: 201px;
    margin-top: 302px;
    margin-right: 262px;
    margin-bottom: 421px;
    font-family: 'Manrope', sans-serif;
}
.errors{
  color:black;
  font-size: 12px;
  margin-top: 78px;
  margin-left: -362px;
  width: 200px;
  text-align: start;
  margin-left: 48px;
  font-family: 'Manrope', sans-serif;

}