.singleSpot{
    margin-left: 92px;
    margin-top: 45px;
    color: black;
}
.NameSpot{
    font-size: 26px;
    color: black;
}
.SpotDetails {
    font-size: 19px;
    margin: 14px;
    margin-left: 1px;
    margin-right: 292px;
    color: black;
}
.rooms{
    font-size: 19px;
    color: black;
    border-bottom: 1px solid rgb(221, 221, 221);

    width: 810px;
    padding-top: 28px;
    padding-bottom: 20px;
}
.title{
    font-size: 28px;
    margin-top: -73px;
    color: black;
}
.leftImage{
    float: left;
}
 .separate{
    display: grid;
    grid-template-columns: 38% 38%;
    
    
}
.gridimages{
    height: 220px;
    width: 241px;
    
}
 .previewImage{
    /* color: black;
    border-radius: 26px; 
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
    margin-left: 87px;
    margin-right: 139px;
    justify-content: space-between;
    height: 471px; 
    width: 488px; */
    color: black;
    /* border-radius: 26px; */
    /* display: grid; */
    /* grid-template-columns: 20% 20% 20% 20%; */
    /* grid-template-rows: 20% 20% 20% 20%; */
    /* margin-left: 87px; */
    /* margin-right: 139px; */
    justify-content: space-between;
    height: 441px;
    width: 674px;
    margin-right: 3px;
}  
 
.price{
    /* width: 195px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    margin-left: 841px;
    margin-right: 499px;
    height: 112px;
    display:flex;
    font: size 23px;
    justify-content: space-between;
    font-size: 19px;
    color: black; */
    /* width: 195px;  */
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    /* padding: 24px; */
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    /* margin-left: 841px; */
    /* margin-right: 499px; */
    /* height: 112px; */
    /* display: flex; */
    font: size 23px;
    justify-content: space-between;
    /* font-size: 19px; */
    color: black;
    margin-right: 53px;
    margin-top: -51px;
    margin-bottom: 154px;
}
.title{
    color: black;
    margin-top: 8px;
    margin-bottom: 19px;

}
.AirCover{
    float: left; 
    position: relative;
    /* bottom: 74px; */
    font-size: 19px;
    color: black;

}

.cover{
    color: black;
 
    /* width: 810px; */
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 10px;
    font-size: 16px;
}
.description{
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 20px;
    /* width: 810px; */
    font-size: 16px;
    color: black;
    margin-top: 12px;
}
.review-details{
    /* width: 810px; */
    /* color: black;
    padding-bottom: 21px;
    padding-top: 16px;
    font-size: 16px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: 3px; */
        /* width: 810px; */
        color: black;
        padding-bottom: 21px;
        padding-top: 16px;
        font-size: 16px;
        display: grid;
        /* grid-template-rows: 50% 50%; */
        grid-template-columns: 50% 50%;
        margin: 3px;
    margin-bottom :136px;
}
.second-form{
    font-size: 16px;
    color: black;
    margin-top: 18px;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    /* color: white; */
    text-align:left;
    height: 65px;
    padding-left: 107px;
    border-top:  1px solid rgb(221, 221, 221);
    font-size: 16px;
    align-items: center;
 }
 .footerSingle{
    justify-content: center;
    padding-top: 27px;
    color: black;
    margin-left: -18px;

 }
 .Delete-button{
    border: 10px 4px 5px 5px black;
    background-color: #ff385c;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
    /* margin: 2px; */
    /* padding: 2px; */
    /* font-family: sans-serif; */
    /* height: 40px; */
    border-radius: 11px;
    /* padding-top: 9px; */
    border: none;
    /* width: 305px; */

 }
 .Edit-button{
    /* border: 10px 4px 5px 5px black;
    background-color: #ff385c;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row; */
    margin: 2px;
    /* padding: 2px;
    font-family: sans-serif; */
    /* width: 613px; */
        /* height: 40px;
        border-radius: 11px;
        padding-top: 9px;
        border: none;
       
        width: 305px;
        border:none;
        background-color: #ff385c;
        margin-left: 3px;
        font-weight: bold;
        color: white; */
        /* margin-top: -98px; */
 }
 .Review-button{
    background-color:  #ff385c;
    height:20px;
    width: 20px;
    margin-bottom: 126px;
    margin-top: -41px;
    color:black;
    height: 48px;
    width: 126px;
    border:none;
        display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-left: 276px;
    height: 28px;
    border-radius: 11px;
    padding-top: 9px;
    border: none;
    width: 305px;
    margin-top: 42px;
 }
 #combine-button{
    height: 56px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: -30px; */
    margin-left: 271px;
    margin-top:-52px;
    margin-bottom: 8px;
 }
 #reviewList{
    margin-bottom: 40px;
    margin-right: 13px;
    width: 298px;
 }
 #t-color{
    color:#ff385c;
    font-weight: bold;
 }
 #cover-color{
    color:black;
    font-weight: bold;
 }
 .delete-review{
    color:white;
    background-color: #ff385c;
    border:none;
    border-radius: 9px;
 }

.leftpart{
    float: left;
    width: 816px;
}

.rightpart{
    float: right;
    width: 456px;
}
.pricePerNight{
    height: 34px;
}
.star{
    height: 34px;
    margin-left: 178px;
}
.calendar{
    margin-top: 15px;
    margin-left: 22px;
}
.dates{
    

    display: flex;
   
    border: 1px solid rgb(221, 221, 221);
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 8px;
    /* height: 38px; */
    margin-right: 29px;
    align-items: center;
    cursor: pointer;

}
.reserve{
    background-color: #ff385c;
    color: black;
    height: 33px;
    width: 348px;
    border-radius: 11px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.charged{
    font-size: 12px;
    justify-content: center;
    display: flex;
   
    border-bottom: 1px solid rgb(221, 221, 221);
}
.charge{
    display: flex;
    /* justify-content: space-evenly; */
    font-size: 15px;
    margin-bottom: 5px;
}
.text-center{
    font-size: 13px;
}
.cost{
    display: flex;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.pricepernight{
    margin-right: 209px;
}
.cleaning{
         margin-left: 212px;
}
.service{
    margin-left: 222px;
}
.total{
    font-size: 15px;
    margin-bottom: 5px;
    border-top: 1px solid rgb(221, 221, 221);
    margin-bottom: 12px;
}
.subtotal{
    margin-left: 161px;
}
 /* vfdcgfdg */
  .react-calendar { 
    width: 400px;
    /* max-width: 100%; */
    background-color: #fff;
    color: #222;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
   } 
   /* .react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 16px;
    margin-top: 8px;
   }
   .react-calendar__navigation button:enabled:hover,
   .react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
   }
   .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
   }
   abbr[title] {
    text-decoration: none;
   } */
   /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
   /* .react-calendar__tile:enabled:hover,
   .react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
   }
   .react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--now:enabled:hover,
   .react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
   }
   .react-calendar__tile--hasActive:enabled:hover,
   .react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
   }
   .react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
   }
   .react-calendar__tile--active:enabled:hover,
   .react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
   }
   .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #f8f8fa;
   }
   .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 0;
   }
   .react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #6f48eb;
    color: white;
   }
   .react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #6f48eb;
    color: white;
   } */ 