.singleSpot{
    margin-left: 92px;
    margin-top: 45px;
    color: black;
}
.NameSpot{
    font-size: 26px;
    color: black;
}
.SpotDetails {
    font-size: 19px;
    margin: 14px;
    margin-left: 1px;
    margin-right: 292px;
    color: black;
}
.rooms{
    font-size: 19px;
    color: black;
    border-bottom: 1px solid rgb(221, 221, 221);

    width: 810px;
    padding-top: 28px;
    padding-bottom: 20px;
}
.title{
    font-size: 28px;
    margin-top: -73px;
    color: black;
}
.previewImage{
    height: 849px;
    width: 1219px;
    color: black;
}
.price{
    width: 195px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    margin-left: 841px;
    margin-right: 499px;
    height: 112px;
    display:flex;
    font: size 23px;
    justify-content: space-between;
    font-size: 19px;
    color: black;
}
.title{
    color: black;
    margin-top: -75px;
    margin-bottom: 19px;
}
.AirCover{
    position:relative;
    bottom:74px;
    font-size: 19px;
    color: black;
}

.cover{
    color: black;
 
    width: 810px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 10px;
    font-size: 16px;
}
.description{
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 20px;
    width: 810px;
    font-size: 16px;
    color: black;
    margin-top: 12px;
}
.review-details{
    width: 810px;
    color: black;
    padding-bottom: 21px;
    padding-top: 16px;
    font-size: 16px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    margin: 3px;
}
.second-form{
    font-size: 16px;
    color: black;
    margin-top: 18px;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align:left;
    height: 65px;
    padding-left: 107px;
    border-top:  1px solid rgb(221, 221, 221);
    font-size: 16px;
    align-items: center;
 }
 .footerSingle{
    justify-content: center;
    padding-top: 27px;
    color: black;
    margin-left: -18px;

 }
 .Delete-button{
    border: 10px 4px 5px 5px black;
    background-color: #ff385c;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
    margin: 2px;
    padding: 2px;
    font-family: sans-serif;
    height: 40px;
        border-radius: 11px;
        padding-top: 9px;
        border: none;
       
        width: 305px;
 }
 .Edit-button{
    border: 10px 4px 5px 5px black;
    background-color: #ff385c;
    color: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    flex-direction: row;
    margin: 2px;
    padding: 2px;
    font-family: sans-serif;
    /* width: 613px; */
        height: 40px;
        border-radius: 11px;
        padding-top: 9px;
        border: none;
       
        width: 305px;
        border:none;
        background-color: #ff385c;
        margin-left: 3px;
        font-weight: bold;
        color: white;
        margin-top: -98px;
 }
 .Review-button{
    background-color:  #ff385c;
    height:20px;
    width: 20px;
    margin-bottom: 126px;
    margin-top: -41px;
    color:black;
    height: 48px;
    width: 126px;
    border:none;
        display: flex;
    flex-direction: column;
    margin-top: 27px;
    margin-left: 276px;
    height: 28px;
    border-radius: 11px;
    padding-top: 9px;
    border: none;
    width: 305px;
    margin-top: 42px;
 }
 #combine-button{
    height: 56px;
    display: flex;
    flex-direction: column;
    margin-bottom: -30px;
    margin-left: 271px;
 }
 #reviewList{
    margin-bottom: 40px;
    margin-right: 13px;
    width: 298px;
 }
 #t-color{
    color:#ff385c;
    font-weight: bold;
 }
 #cover-color{
    color:black;
    font-weight: bold;
 }