
/* .Logo{
    height: 100px;
    width: 100px;
    padding-left: 148px;
} */
/* .header-div{
    /* justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1; */
    

.header-div {
    text-align: center;
    border-bottom: 1px solid black;
    color: Black;
    font-size: 30px; 
    height: 55px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-right: 119px;
    padding-bottom: 9px;
  }


/* flex: 1 0 140px; */

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: -344px;
  width: 289px;
  height: 60px;
}
  

  .ProfileButton {
    /* background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; */
    height: 65px;
    width: 47px;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
   
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    margin-right: 0px;
  }
   .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  } 
  .name{
    height: 98px;
    width: 177px;
    margin-right: 1439px;
    margin-left: 89px;
  }
  main{
    margin-top: 76px;
  }
  .fa-solid fa-bars{
    padding-right: 19px;
    margin-right: 5px;
        margin-right: 12px;
  }
  .fa-solid fa-bars{
    border: none;
  }
  #createspot-button{
    height: 50px;
    width: 182px;
  }
  .t-logo{
    height: 55px;
    align-items: center;
    margin-top: 21px;
  }
  .profile-dropdown{
    color:black
  }