
/* .Logo{
    height: 100px;
    width: 100px;
    padding-left: 148px;
} */
/* .header-div{
    /* justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1; */
    

.header-div {
   
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
    font-size: 30px; 
     height: 110px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-right: 119px;
    padding-bottom: 9px;
  }


/* flex: 1 0 140px; */

.dropdown {
    position: relative;
    display: inline-block;
  }

  .ProfileButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .name{
    height: 98px;
    width: 177px;
    margin-right: 1439px;
    margin-left: 89px;
  }
  main{
    margin-top: 76px;
  }